{% set system_message = namespace(value='') %}{% for message in messages if message['role'] == 'system' %}{% set system_message.value = system_message.value + ' ' + message['content'] %}{% endfor %}{% for message in messages if message['role'] != 'system' %}{% if loop.index0 == 0 and system_message.value != '' %}{% set content = '<<SYS>>\\n' + system_message.value + '\\n<</SYS>>\\n\\n' + message['content'] %}{% else %}{% set content = message['content'] %}{% endif %}{% if message['role'] == 'user' %}{{ bos_token + '[INST] ' + content.strip() + ' [/INST]' }}{% elif message['role'] == 'system' %}{{ '<<SYS>>\\n' + content.strip() + '\\n<</SYS>>\\n\\n' }}{% elif message['role'] == 'assistant' %}{{ ' '  + content.strip() + ' ' + eos_token }}{% endif %}{% endfor %}