{{ bos_token }}{% for message in messages %}{% if message.role not in ('user', 'assistant', 'system') %}{{ raise_exception('Unsupported message role! Only user, assistant, and system roles are supported.') }}{% endif %}{% if message.role in ('user', 'system') %}{{ '[INST] ' ~ message['content'].strip() ~ ' [/INST]' }}{% elif message.role == 'assistant' %}{{ message['content'].strip() ~ eos_token }}{% endif %}{% endfor %}
